# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment & secrets
.env
.env.local
.env*.local

# Log aplikasi
logs/

# Alembic
alembic/versions/__pycache__/

# Tooling
.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/
.coverage

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

#documentasi api
docs/